.counter-block {
  padding: 0 0 45px;
}
@media (max-width: 850px) {
  .counter-block {
    padding: 0 0 4px;
  }
}
.counter-block .site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-block .site-content .counter {
  text-align: center;
  font-family: "Circular Std";
  font-size: 240px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%; /* 288px */
  background: linear-gradient(90deg, #FF5C1D -3.75%, #FF8155 56.61%, #FE9551 106.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 13px;
}
@media (max-width: 1050px) {
  .counter-block .site-content .counter {
    font-size: 140px;
  }
}
@media (max-width: 850px) {
  .counter-block .site-content .counter {
    font-size: 64px;
    margin-bottom: 8px;
  }
}
.counter-block .site-content .title {
  color: var(--Dark-Purple, #241063);
  text-align: center;
  font-family: "Circular Std";
  font-size: 48px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: -0.96px;
  max-width: 887px;
  margin-bottom: 43px;
}
@media (max-width: 1050px) {
  .counter-block .site-content .title {
    font-size: 40px;
  }
}
@media (max-width: 850px) {
  .counter-block .site-content .title {
    font-size: 14px;
    max-width: 168px;
    margin-bottom: 14px;
  }
}
.counter-block .site-content .title span {
  background: linear-gradient(91deg, #FF5C1D 48.64%, #FF9268 72.44%, #FFA07B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Circular Std";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}
@media (max-width: 1050px) {
  .counter-block .site-content .title span {
    font-size: 40px;
  }
}
@media (max-width: 850px) {
  .counter-block .site-content .title span {
    font-size: 14px;
  }
}
.counter-block .site-content .join {
  display: inline-flex;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primary, #FF5C1D);
  width: fit-content;
  color: var(--Light-Grey, #F5F5F5);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: "Circular Std";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  margin-bottom: 221px;
}
@media (max-width: 1050px) {
  .counter-block .site-content .join {
    margin-bottom: 120px;
  }
}
@media (max-width: 850px) {
  .counter-block .site-content .join {
    font-size: 14px;
    padding: 16px 32px;
    margin-bottom: 75px;
  }
}
.counter-block .site-content .social {
  color: #1C2243;
  text-align: center;
  font-family: "Circular Std";
  font-size: 64px;
  font-style: normal;
  font-weight: 450;
  line-height: 125%; /* 125% */
  letter-spacing: -1.28px;
  max-width: 1000px;
}
@media (max-width: 1050px) {
  .counter-block .site-content .social {
    font-size: 50px;
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .counter-block .site-content .social {
    font-size: 28px;
    max-width: 323px;
  }
}
.counter-block .site-content .social a {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-family: "Circular Std";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 125% */
  letter-spacing: -1.28px;
  background: linear-gradient(93deg, #FF5C1D 48.64%, #FF956C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1050px) {
  .counter-block .site-content .social a {
    font-size: 50px;
  }
}
@media (max-width: 850px) {
  .counter-block .site-content .social a {
    font-size: 28px;
  }
  .counter-block .site-content .social a svg {
    width: 28px;
    height: 28px;
  }
}

/*# sourceMappingURL=counter-block.css.map */
